body {
    /* background-color: #EBEBDD; */
    background-color: thistle;
    border: 2px solid grey;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24px; 
    padding-right: 24px;
}
html{
    background-color: #EBEBDD;
}
h1{
    background-color: C0C0FF;
}
nav{
    background-color: #FFFF00;
    border: 2px solid grey;
}